* {
  margin: 0;

  padding: 0;
}
.logo {
  margin-top: 0rem;
}

.navbar {
  background-color: #d6b1ff;
}

.navbar-brand {
  margin-left: 1rem;
  font-size: 15px;
}

.btn-outline-success {
  background-color: #ffff;
  border-color: #bc81ff;
  color: #bc81ff;
  font-family: sans-serif;
}
main {
  background-color: #ffffff;
}

footer {
  color: #ffff;
  text-align: center;
  background-color: black;
  font-family: "Inter", sans-serif;
  padding: 1rem 0;
}

iframe {
  margin-left: 50rem;
  margin-bottom: 0rem;
}

footer div {
  text-align: center;
}

body {
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header header "
    "nav nav "
    "main main "
    "footer footer ";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

body {
  font-family: "Monserrat", sans-serif;
  background-color: #e7e7e7;
}

.container2 {
  width: 1500px;
  height: 800px;
  position: relative;

  background: #ffffff;
}

.circle-orange-small {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 150px;
  left: 30px;
  background-color: #fbba04;
  border-radius: 50%;
  opacity: 0.7;
}

.circle-orange-small2 {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 30px;
  right: -180px;
  background-color: #fbba04;
  border-radius: 50%;
  opacity: 0.7;
}

.circle-orange-big {
  height: 260px;
  width: 260px;
  position: absolute;
  top: 500px;
  right: 500px;
  background-color: #fbba04;
  border-radius: 50%;
  opacity: 0.7;
}

.circle-blue {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 100px;
  right: -200px;
  background-color: #0a8df3;
  border-radius: 50%;
  opacity: 0.5;
}

.circle-blue2 {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 400px;
  right: -500px;
  background-color: #45b6b0;
  border-radius: 50%;
  opacity: 0.5;
}

.circle-blue-small {
  height: 170px;
  width: 170px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: #0a27f3;
  border-radius: 50%;
  opacity: 0.5;
}

.circle-center {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 30px;
  right: 110px;
  background-color: #f70090;
  border-radius: 50%;
  opacity: 0.5;
}

.circle-center-text {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 30px;
  right: 110px;
  background-color: transparent;
  border-radius: 50%;
  opacity: 1;
  color: #fff;
  padding: 12% 10%;
  box-sizing: border-box;
}

h1 {
  font-size: 42px;
}

hr {
  width: 50%;
  float: left;
  background-color: #fff;
  height: 1px;
  border-color: #fff;
}

p {
  margin-top: 5px;
}

.cta {
  height: 80px;
  width: 100px;
  margin-right: 15%;
  margin-top: 5%;
  float: right;
}

.botonentrar {
  height: 80px;
  width: 100px;
  float: right;
  cursor: pointer;
  background: none;
  border: 2px solid #fff;
  border-radius: 3px;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  outline: none;
}

.btn2 {
  width: 0;
  height: 80px;
  background-color: #fbfbfb;
  transition: width 0.3s ease-in;
}

button:hover {
  color: #f70090;
  transition: color 0.3s ease-in;
}

.cta:hover .btn2 {
  width: 100px;
  background-color: #fff;
  color: #f70090;
}

.circle-green {
  height: 250px;
  width: 250px;
  position: absolute;
  bottom: 80px;
  left: 140px;
  background-color: #3bb508;
  border-radius: 50%;
  opacity: 0.5;
}

footer {
  grid-area: footer;
}

.col {
  background-color: #d6b1ff;
  padding-left: 7rem;
  margin-bottom: 0rem;
}

.d-flex {
  margin-left: 65rem;
}

@media (min-width: 768px) {
  body {
    header {
      height: 400px;
    }
  }
}

.card {
  margin-right: 5rem;
}
