* {
  margin: 0;

  padding: 0;
}
.logo {
  margin-top: 1rem;
  margin-left: 1rem;
}

header {
  padding: 0, 5rem 0;
  position: sticky;
  top: 0%;
  z-index: 2%;
  background-image: url("../imagenes/jardin.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.titulo {
  text-align: center;
  font-size: 80px;
  background-color: #d6b1ff;
}

.parrafo {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}

h2 {
  margin: 0rem;
  margin-left: 2rem;
  font-size: 70;
}

.botoningresar {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-bottom: 10rem;
  border: 2px solid #bc81ff;
  border-radius: 10px;
  font-family: "sand", sans-serif;
  font-size: 25px;
  color: #000000;
  box-shadow: 0 10px 30px -10px black;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 25px;
  text-transform: uppercase;
  padding: 20px 40px;
  position: relative;
  transition: all 0.5s;
}

.botoningresar:hover:before {
  height: 190%;
}

.botoningresar:hover {
  color: blueviolet;
}

section {
  font-family: "Quicksand", sans-serif;
  background-color: #d6b1ff;
  padding-top: 1rem;
}

footer {
  color: #ffff;
  text-align: center;
  background-color: black;
  font-family: "Inter", sans-serif;
  padding: 1rem 0;
}

iframe {
  margin-left: 50rem;
  margin-bottom: 1rem;
}

footer div {
  text-align: right;
}

body {
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header header "
    "nav nav "
    "main main "
    "footer footer ";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.col {
  background-color: #d6b1ff;
  padding-left: 7rem;
  margin-bottom: 0rem;
}

.d-flex {
  margin-left: 65rem;
}

.navbar {
  background-color: #ffff;
}

.btn-outline-success {
  background-color: #ffff;
  border-color: #bc81ff;
  color: #bc81ff;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  body {
    header {
      height: 400px;
    }
  }
}
