section {
  color: $primary-color;
  font-family: "Quicksand", sans-serif;
  padding-top: 1rem;
}

.titulo {
  margin: 1, 5rem;
  margin-left: 0rem;
  font-size: 80px;
}

h2 {
  margin: 0rem;
  margin-left: 2rem;
  font-size: 70;
}

.botoningresar {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-bottom: 10rem;
  border: 5px solid #8c30f5;
  padding: 10px;
  background-color: #8c30f5;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  font-family: "sand", sans-serif;
  font-size: 25px;
  box-shadow: 0 10px 30px -10px black;
}

footer {
  color: #ffff;
  text-align: center;
  background-color: black;
  font-family: "Inter", sans-serif;
  padding: 1rem 0;
  div {
    text-align: right;
  }
}

iframe {
  margin-left: 50rem;
  margin-bottom: 1rem;
}

body {
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header header "
    "nav nav "
    "main main "
    "footer footer ";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.card-img-h {
  height: 300px;
}
