.logo {
  margin-top: 1rem;
  margin-left: 1rem;
}

header {
  padding: 0, 5rem 0;
  position: sticky;
  top: 0%;
  z-index: 2%;
}

.navbar {
  position: sticky;
  background-color: #ffff;
}

.btn-outline-success {
  background-color: #ffff;
  border-color: #bc81ff;
  color: #bc81ff;
  font-family: sans-serif;
}
